@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
main {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;
}

img {
    display: block;
}

h2 {
    text-align: center;
    margin: 2em;
}

.background {
    position:absolute;
    z-index: -1;
   
}

.background-img {
    height: 75vh;
    object-fit: cover;
}



.main-img {
    align-self: center;
    width: 30%;
    position: relative;
    z-index: 6;
}





.title {
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    margin-top: 3em;
   
}



.title h1 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    text-align: center;
    color:#092325ce;
    margin-bottom: 1em;
}

.title img{
    display:block;
    width:3em;
    margin: 0;
    padding: 0;
    filter: invert(65%) sepia(85%) saturate(86%) hue-rotate(169deg) brightness(107%) contrast(108%);
    
}


.title p {
    font-size: 2em;
    margin:0 0.4em 0 0.4em;
}

.callme {
    display: flex;
    background-color: #7ed6df;
    background-image: linear-gradient(315deg, #3bb7c5ce 0%, #000000d7 74%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    flex-wrap: wrap;
    color: aliceblue;
    border-radius: 3em;
    padding: 0.6em 1.6em;
    border-radius: 8em;
 

}



.service-container {
    margin: 1em 2em;
    padding: 1em 0.4em;

}


.contacts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.service-cards {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap; 
 
}


@media (max-width: 700px)  {


    main {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .background {
        margin-top: 3em;
       
    }

    .main-img {
        width: 70%;
        margin: auto 0;
    
    }

    .title {
        width:90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
        margin: 1em;
       

    }

    .title h1 {
        font-size: 1.4em;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1em;
        margin-top: 0;
        width: 100%;
    }

    .service-container {
        margin: 0 1em;
        padding: 1em 0.4em;
    
    }

    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-1px); }
        40% { transform: translateX(1px); }
        60% { transform: translateX(-1px); }
        80% { transform: translateX(1px); }
        100% { transform: translateX(0); }
      }
      

      .callme-icon {

        animation: shake 0.4s infinite;
     
      }


}