
main {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;
   
  
}

img {
    display: block;
}

.background {
    position:absolute;
    z-index: -1;
   
}

.background-img {
    height: 75vh;
    object-fit: cover;
}



.main-img {
    align-self: center;
    width: 30%;
    position: relative;
    z-index: 6;
}





.title {
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    margin-top: 3em;
   
}



.title h1 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    text-align: center;
    color:#092325ce;
    margin-bottom: 1em;
}

.title img{
    display:block;
    width:3em;
    margin: 0;
    padding: 0;
    filter: invert(65%) sepia(85%) saturate(86%) hue-rotate(169deg) brightness(107%) contrast(108%);
    
}


.title p {
    font-size: 2em;
    margin:0 0.4em 0 0.4em;
}

.callme {
    display: flex;
    background-color: #7ed6df;
    background-image: linear-gradient(315deg, #3bb7c5ce 0%, #000000d7 74%);
    flex-wrap: wrap;
    color: aliceblue;
    border-radius: 3em;
    padding: 0.6em 1.6em;
    border-radius: 8em;

}

.callme:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


