
main {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
  
}

img {
    display: block;
}

.img {
    width: 45%;

}



.title {
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
   
}


.title img{
    display:block;
    width:5em;
    margin: 0;
    filter: invert(25%) sepia(95%) saturate(46%) hue-rotate(169deg) brightness(107%) contrast(108%);
    

}

.title h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color:#092325ce;
}

.title p {
    font-size: 3em;
}

.title .logo {
   width: 12em;
}



