ul {
    display: flex;
    justify-content: space-around;
    padding: 0.6em;
    margin: 0;
    list-style: none;
    font-size: 1em;
}

nav {
    background: rgb(8,147,176);
background: linear-gradient(90deg, rgba(8,147,176,1) 0%, rgba(202,209,224,1) 0%, rgba(8,147,176,1) 100%);
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 0.1em;
 
}

nav ul {
    justify-content:space-evenly;
    margin-left:40%;

}



.logo {
   
    justify-content:flex-start;

}

.logo img {
    width:8em;
    height: 8em;
}








