
footer {
    padding: 0;
    margin: 0;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em;
   
}

.info-container li {
    text-align: left;
}

.cards-container article {
  flex-direction: row;

}

.cards-container article img {
    max-width: none;
  }