.service-container {
    margin: 1em 2em;
    border-radius: 6px;
    background-color: #c3cbdc;
background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}


.cards-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap; 
 
}

.service-container h5 {
    font-size: 2em;
    text-align: center;
    margin: 1em;
}

.service-info {
    margin: 1em 1em;
    text-align: center;
}

.service-info-title {
    margin:1em 2em;
}



.service-info strong {
    font-size: 1.4em;
   
}

.service-list {
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    gap:1em;
    margin-top: 2em;
}

