.service-container {
    margin: 1em 2em;
    border-radius: 6px;
}


.cards-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap; 
 
}

.service-container h5 {
    font-size: 2em;
    text-align: center;
    margin: 0.4em;
}

.service-info {
    margin: 1em 3em;
    text-align: center;

}

.service-info strong {
    font-size: 1.4em;
}

.service-list {
    flex-direction: column;
    align-items: flex-start;
    list-style: circle;
    font-weight: 400;
    gap:1em;
    margin-top: 2em;
}

