
.img {
    position: relative;
  }
  
  .img img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Цвят и прозрачност на затъмнението */
  }
  
  .callme {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  
  }
  
  .callme h1 {
    color: aliceblue;
  }
  
  .callme button {
    background-color:#1bbab5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .callme button:hover {
    background-color: rgba(27, 186, 181, 0.6);
  }